.fakeDivDark, .fakeDivLight{
    height: 4rem;
    transition: background-color 0.5s;
}
.fakeDivDark{
    background-color: black;
}
.fakeDivLight{
    background-color: #ff9000;
}

.papaDivlight, .papaDivlight:hover{
    transition: background-color 0.5s;
    background-color: #f3f3f3;
}
.papaDivDark, .papaDivDark:hover{
    background-color: black;
    transition: background-color 0.5s;
}


.textDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.aboutTitleLight, .aboutTitleDark {
    font-size: 55px;
    margin: 15px;
    transition: color 0.5s;
}
.aboutTitleDark{
    color: White;
}
.aboutTitleLight{
    color: black;
}

.titleUndelineLight, .titleUndelineDark{
    margin-bottom: 20px;
    height: 5px;
    width: 15vh;
    transition: background-color 0.5s;
}
.titleUndelineLight{
    background-color: #ff9000;
}
.titleUndelineDark{
    background-color: white;
}

.aboutPDark, .aboutPLight{
    margin: 0;
    font-size: 30px;
    transition: color 0.5s;
}
.aboutPDark{
    color: white;
}
.aboutPLight{
    color: black;
}

.subDivsContainer{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.subDivFirst, .subDivSecondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.eduTittleDark, .eduTittleLight{
    font-size: 45px;
    margin: 5vh 0 2vh 0;
    transition: color 0.5s;
}
.eduTittleDark{
    color: white;
}
.eduTittleLight{
    color: black;
}

.eduSubTittleLight, .eduSubTittleDark{
    font-size: 30px;
    margin-top: 1vh;
    margin-bottom: 5px;
    transition: color 0.5s;
}
.eduSubTittleDark{
    color: white;
}
.eduSubTittleLight{
    color: black;
}

.eduTextDark, .eduTextLight{
    font-size: 25px;
    margin-top: 0;
    transition: color 0.5s;
}

.eduTextDark{
    color: white;
}
.eduTextLight{
    color: black;
}

.image{
    height: 50vh;
    border-radius: 8px;
    margin-bottom: 5vh;
}

.iconDivLight, .iconDivDark{
    display: flex;
    flex-direction: row;
}

.jsIcon, .htmlIcon, .cssIcon{
    margin-right: 1.5vh;
    font-size: 30px;
}
.jsIcon{
    color: #F0DB4F;
}
.htmlIcon{
    color: #F16529;
}
.cssIcon{
    color: #2965f1;
}