.divFooterDark, .divFooterLight{
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}
.divFooterDark{
    background-color: #020203;
}
.divFooterLight{
    background-color: #273C2C;
}

.footerP{
    color: #fafcfb;
}