.fakeDivDark, .fakeDivLight{
    height: 3rem;
    transition: background-color 0.5s;
}
.fakeDivDark{
    background-color: #020203;
}
.fakeDivLight{
    background-color: #273C2C;
}

.papaDivDark, .papaDivLight{
    transition: background-color 0.5s;
}
.papaDivDark{
    background-color: #020203;
}
.papaDivLight{
    background-color: #273C2C;
}

.contentDiv{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsPDark, .projectsPLight{
    border:0.4rem;
    border-style: dashed solid;
    padding: 0.5rem;
    margin: 0;
    font-size: 30px;
    transition: border 0.5s, color 0.5s;
}
.projectsPDark{
    color: white;
    border-color: white;
}
.projectsPLight{
    color: white;
    border-color: white;
}