.flagsDiv{
    display: flex;
    flex-direction: row;
}

.flag{
    margin: 0 1vh;
    padding: 0;
    filter: grayscale(50%);
    transition: filter 0.3s;
    cursor: pointer;
}

.flag:hover{
    filter: none;
}