.flagsDiv{
    display: flex;
    flex-direction: row;
}

.flagsDark, .flagsLight, .flagSelDark, .flagSelLight{
    background-color: transparent;
    border: none;
    height: 3vh;
    width: 3vh;
    transition: color 0.5s;
    margin: 0 0.5vh;
}

.flagsLight{
    color:black;
}
.flagsLight{
    color: rgba(41, 41, 41, 0.623);
}
.flagsDark{
    color: rgba(223, 223, 223, 0.726);
}
.flagSelDark{
    color: white
}

.flagsLight:hover{
    color:white;
}
.flagsDark:hover{
    color: white;
}
.flagsDark:focus, .flagSelDark:focus, .flagsLight:focus, .flagSelLight:focus{
    outline: none
}